<div class="launch-box span4 offset3 text-center">

	<h1>Add Your Image</h1>
	<br/>
	<%= simple_form_for @post do |f| %>
		<%= f.input :title, label: 'Add a Title', placeholder: 'Spock, Data, Jordy, Riker, etc.' %>
		<br/>
		<%= f.input :description, label: 'What is good?', placeholder: 'He is a total hottie mc hotterson! Like totes adorbs!, etc.'%>

		<%= f.input :image %>
		<br/>
		<%= f.submit 'Save', :class =>'btn btn-warning' %>

	<% end %>

</div>